version: '3.8'

services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    ports:
      - "8081:8080"
      - "50001:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
    restart: unless-stopped
    user: "1000:1000"

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    restart: unless-stopped

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "81:80"
    volumes:
      - /home/vicky/appnew:/usr/share/nginx/html:ro
    restart: unless-stopped

  sample-app:
    image: node:18
    container_name: sample-app
    ports:
      - "4001:4000"
    volumes:
      - /home/vicky/appnew:/usr/src/app
    command: sh -c "cd /usr/src/app && npm install && node index.js"
    restart: unless-stopped

volumes:
  jenkins_home:

