name: CI/CD to Minikube

on:
  push:
    branches: [ "main" ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test || echo "No tests, skipping"

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/docker-jenkins-demo:latest .

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/docker-jenkins-demo:latest

      - name: Setup kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Setup kubeconfig
  run: |
    echo "${{ secrets.KUBECONFIG_DATA }}" | base64 --decode > kubeconfig
    export KUBECONFIG=$PWD/kubeconfig
    kubectl config get-contexts
    kubectl cluster-info

     - name: Deploy to Kubernetes
  run: |
    export KUBECONFIG=$PWD/kubeconfig
    kubectl apply -f deployment.yaml
    kubectl apply -f service.yaml
    kubectl get pods -o wide
    kubectl get svc

